vs/ProyectoGraficos/v16/.suo
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.assets.cache
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.csprojAssemblyReference.cache
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.designer.runtimeconfig.json
ProyectoGraficos/obj/ProyectoGraficos.csproj.nuget.dgspec.json
ProyectoGraficos/obj/ProyectoGraficos.csproj.nuget.g.props
ProyectoGraficos/obj/project.assets.json
ProyectoGraficos/obj/project.nuget.cache
vs/ProyectoGraficos/DesignTimeBuild/.dtbcache.v2
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.Form1.resources
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.Properties.Resources.resources
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.csproj.CoreCompileInputs.cache
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.csproj.FileListAbsolute.txt
ProyectoGraficos/obj/Debug/netcoreapp3.1/ProyectoGraficos.csproj.GenerateResource.cache
.vs/
